/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/missing
/mkinstalldirs
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.in
/acinclude.m4
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
/.deps
/install-sh
/libtool
/ltmain.sh
/run-tests.php
/amf.la
/amf.lo
/.libs/amf.la
/.libs/amf.lai
/.libs/amf.o
/.libs/amf.so
/modules/amf.so
/build/libtool.m4
/build/lt~obsolete.m4
/build/ltoptions.m4
/build/ltsugar.m4
/build/ltversion.m4
/build/mkdep.awk
/build/scan_makefile_in.awk
/build/shtool
